<footer class="footer py-4">

  <div class="container">
    <div class="d-flex flex-row justify-content-between border-bottom">

      <div class="col-12 col-md-3">
        <h4> AchaOng </h4>
        <p class="text-justify">somos um movimento que usa tecnologia e design
          para aproximar as pessoas da filantropia</p>
      </div>

      <div class="col-12 col-md-3 py-4">
      </div>

      <div class="col-12 col-md-3 py-4">
        <ul class="list-unstyled">
          <li><a href="#">facebook</a></li>
          <li><a href="#">instagram</a></li>
        </ul>
      </div>

    </div>

    <div class="d-flex flex-row justify-content-center">
      <p class="py-2" style="font-size:12px;">&reg 2018 - PhKnll</p>
    </div>
  </div>

</footer>
