<header class="d-flex flex-row justify-content-around top-menu border-bottom">

  <nav class="navbar navbar-expand-lg navbar-light col-10 py-3">

    <a class="navbar-brand" href="{{url_for('index')}}">achaONG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse .d-md-flex justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item px-3">
          <a class="nav-link" href="{{url_for('newOrganization')}}">Cadastre sua ONG</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="{{url_for('showOrganizationsList')}}">Explore</a>
        </li>
        <li class="nav-item px-3">
          <form class="form-inline">
            {%if 'username' not in session %}
              <a class="btn btn-md btn-outline-dark" href="{{url_for('showLogin')}}" role="button">Entrar</a>
            {% else %}
              <div class="btn-group">
                <button type="button" class="btn btn-md bg-white border-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Olá,
                {% if " " in user.name %}
                  {% set user_first_name = user.name.split(" ")[0] %}
                  {{ user_first_name }}
                {% else %}
                  {{ user.name }}
                {% endif %}
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Meu perfil</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{url_for('gdisconnect')}}">Logout</a>
                </div>
              </div>
            {% endif %}
          </form>
        </li>
      </ul>
    </div>

  </nav>

</header>
