{% extends "main.html" %}
{% block head %}
    {{ super() }}
    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>

  <script src="//apis.google.com/js/platform.js?onload=start"> </script>

  <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

{% endblock %}

{% block body %}

<header>
  <nav class="navbar navbar-light bg-white border-bottom">
    <a class="navbar-brand m-auto" href="{{url_for('index')}}">achaONG</a>
  </nav>
</header>

<main class="bg-light p-5">

  <section class="d-flex flex-column align-items-center justify-content-center mt-5">
    <div>
      {% include "flashmessage.html" %}
    </div>
    <div class="bg-white border rounded p-5">
      <div class="headline text-center py-4">
        <h4 class="d-block">Entrar em sua Conta</h4>
        <p class="d-block">Entre com sua conta do google ou facebook:</p>
      </div>

      <div class="d-flex flex-row justify-content-around ">
        <div id="signinButton">
          <span class="g-signin"
            data-scope="openid email"
            data-clientid="967025486111-qvlbo9paggmokeg0gc54ee0hq1cqhkdk.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>

        <button>
          <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
          <a href='javascript:sendTokenToServer()'>Login</a>
          </fb:login-button>
        </button>
      </div>

      <div id="result" class="text-center"></div>

      <div class="text-center border-top mt-4 py-4">
        <small>solicitamos apenas informações básicas (e-mail e nome) para seu cadastro.</small>
      </div>
    </div>


</section>
</main>
{% endblock %}

{% block scripts %}
 <!--Implement Google Log-in-->
<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html(result)
         setTimeout(function() {
          window.location.href = "/organizations";
        });

      } else if (authResult['error']) {
    console.log('Ocorreu um erro: ' + authResult['error']);
  } else {
        $('#result').html('Falha ao conectar com servidor.');
         }
      }

  }); } }
</script>


<!--Implement Facebook Log-in-->
<script>
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '184490238871449',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });
  };
  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function sendTokenToServer() {
    var access_token = FB.getAuthResponse()['accessToken'];
    console.log(access_token)
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
     $.ajax({
      type: 'POST',
      url: '/fbconnect?state={{STATE}}',
      processData: false,
      data: access_token,
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html(result)
         setTimeout(function() {
          window.location.href = "/organizations";
        });

      } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }

  });
    });
  }
</script>


<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
{% endblock %}
